@import 'tailwindcss';

@layer base {
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

  pg-root {
    display: block;
    min-height: 100%;
    @apply bg-gray-50 antialiased text-gray-900;
  }

  html {
    scroll-behavior: smooth;
  }

  button,
  a,
  input[type='button'],
  input[type='submit'],
  [role='button'] {
    cursor: pointer;
  }

  button:disabled,
  input:disabled {
    cursor: not-allowed;
  }
}
